src/csharp/VoterWatch/OhioImporter/Service References/Districts/VotingDistricts2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://siliconholler.net/geopolitical" elementFormDefault="qualified" targetNamespace="http://siliconholler.net/geopolitical" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/precinctcaptain/hierarchies/VotingDistricts.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTypesResult" nillable="true" type="tns:ArrayOfdistricttype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfdistricttype">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="districttype" nillable="true" type="tns:districttype" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdistricttype" nillable="true" type="tns:ArrayOfdistricttype" />
  <xs:complexType name="districttype">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="districttypeid" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="districttype" nillable="true" type="tns:districttype" />
  <xs:element name="searchDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ident" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="take" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sseq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchDistrictsResult" nillable="true" type="tns:districtsearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="districtsearch">
    <xs:sequence>
      <xs:element minOccurs="0" name="dresults" nillable="true" type="tns:ArrayOfdistrict" />
      <xs:element minOccurs="0" name="seq" type="xs:int" />
      <xs:element minOccurs="0" name="skip" type="xs:int" />
      <xs:element minOccurs="0" name="take" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="districtsearch" nillable="true" type="tns:districtsearch" />
  <xs:complexType name="ArrayOfdistrict">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="district" nillable="true" type="tns:district" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdistrict" nillable="true" type="tns:ArrayOfdistrict" />
  <xs:complexType name="district">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="children" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="districtid" type="xs:int" />
      <xs:element minOccurs="0" name="districttype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="districttypeid" type="xs:int" />
      <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parents" nillable="true" type="q2:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="district" nillable="true" type="tns:district" />
  <xs:element name="getDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeid" type="xs:int" />
        <xs:element minOccurs="0" name="skip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="take" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDistrictsResult" nillable="true" type="tns:ArrayOfdistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDistricts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllDistrictsResult" nillable="true" type="tns:ArrayOfdistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="childid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getParentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getParentsResult" nillable="true" type="tns:ArrayOfdistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChildren">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getChildrenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getChildrenResult" nillable="true" type="tns:ArrayOfdistrict" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>