src/csharp/VoterWatch/OhioImporter/Service References/Districts/VotingDistricts1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://siliconholler.net/geopolitical" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://siliconholler.net/geopolitical" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://siliconholler.net/geopolitical/Imports">
      <xsd:import schemaLocation="http://localhost/precinctcaptain/hierarchies/VotingDistricts.svc?xsd=xsd0" namespace="http://siliconholler.net/geopolitical" />
      <xsd:import schemaLocation="http://localhost/precinctcaptain/hierarchies/VotingDistricts.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/precinctcaptain/hierarchies/VotingDistricts.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVotingDistricts_getTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:getTypes" />
  </wsdl:message>
  <wsdl:message name="IVotingDistricts_getTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IVotingDistricts_searchDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:searchDistricts" />
  </wsdl:message>
  <wsdl:message name="IVotingDistricts_searchDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchDistrictsResponse" />
  </wsdl:message>
  <wsdl:message name="IVotingDistricts_getDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:getDistricts" />
  </wsdl:message>
  <wsdl:message name="IVotingDistricts_getDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDistrictsResponse" />
  </wsdl:message>
  <wsdl:message name="IVotingDistricts_getAllDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllDistricts" />
  </wsdl:message>
  <wsdl:message name="IVotingDistricts_getAllDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllDistrictsResponse" />
  </wsdl:message>
  <wsdl:message name="IVotingDistricts_getParents_InputMessage">
    <wsdl:part name="parameters" element="tns:getParents" />
  </wsdl:message>
  <wsdl:message name="IVotingDistricts_getParents_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParentsResponse" />
  </wsdl:message>
  <wsdl:message name="IVotingDistricts_getChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:getChildren" />
  </wsdl:message>
  <wsdl:message name="IVotingDistricts_getChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:getChildrenResponse" />
  </wsdl:message>
  <wsdl:portType name="IVotingDistricts">
    <wsdl:operation name="getTypes">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVotingDistricts/getTypes" message="tns:IVotingDistricts_getTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVotingDistricts/getTypesResponse" message="tns:IVotingDistricts_getTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchDistricts">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVotingDistricts/searchDistricts" message="tns:IVotingDistricts_searchDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVotingDistricts/searchDistrictsResponse" message="tns:IVotingDistricts_searchDistricts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDistricts">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVotingDistricts/getDistricts" message="tns:IVotingDistricts_getDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVotingDistricts/getDistrictsResponse" message="tns:IVotingDistricts_getDistricts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllDistricts">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVotingDistricts/getAllDistricts" message="tns:IVotingDistricts_getAllDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVotingDistricts/getAllDistrictsResponse" message="tns:IVotingDistricts_getAllDistricts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParents">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVotingDistricts/getParents" message="tns:IVotingDistricts_getParents_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVotingDistricts/getParentsResponse" message="tns:IVotingDistricts_getParents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChildren">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVotingDistricts/getChildren" message="tns:IVotingDistricts_getChildren_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVotingDistricts/getChildrenResponse" message="tns:IVotingDistricts_getChildren_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>