src/csharp/VoterWatch/OhioImporter/Service References/Structure/DistrictModel2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://siliconholler.net/geopolitical" elementFormDefault="qualified" targetNamespace="http://siliconholler.net/geopolitical" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/precinctcaptain/mapadmin/DistrictModel.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="addType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ntype" nillable="true" type="tns:districttype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="districttype">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="districttypeid" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="districttype" nillable="true" type="tns:districttype" />
  <xs:element name="addTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addTypeResult" nillable="true" type="tns:districttype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="udata" nillable="true" type="tns:districttype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateTypeResult" nillable="true" type="tns:districttype" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ndistrict" nillable="true" type="tns:district" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="district">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="children" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="districtid" type="xs:int" />
      <xs:element minOccurs="0" name="districttype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="districttypeid" type="xs:int" />
      <xs:element minOccurs="0" name="identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="parents" nillable="true" type="q2:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="district" nillable="true" type="tns:district" />
  <xs:element name="addDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addDistrictResult" nillable="true" type="tns:district" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="udata" nillable="true" type="tns:district" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateDistrictResult" nillable="true" type="tns:district" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deldata" nillable="true" type="tns:district" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteDistrictResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addParent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addrel" nillable="true" type="tns:districtrelationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="districtrelationship">
    <xs:sequence>
      <xs:element minOccurs="0" name="childdistrict" type="xs:int" />
      <xs:element minOccurs="0" name="parentdistrict" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="districtrelationship" nillable="true" type="tns:districtrelationship" />
  <xs:element name="addParentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addParentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeParent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="remrel" nillable="true" type="tns:districtrelationship" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeParentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeParentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeParents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="childid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeParentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeParentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeChildren">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeChildrenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removeChildrenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>