src/csharp/VoterWatch/OhioImporter/Service References/VoterInfo/VoterInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://siliconholler.net/geopolitical" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://siliconholler.net/geopolitical" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://siliconholler.net/geopolitical/Imports">
      <xsd:import schemaLocation="http://localhost/precinctcaptain/voterdata/VoterInfo.svc?xsd=xsd0" namespace="http://siliconholler.net/geopolitical" />
      <xsd:import schemaLocation="http://localhost/precinctcaptain/voterdata/VoterInfo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/precinctcaptain/voterdata/VoterInfo.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVoterInfo_searchVoters_InputMessage">
    <wsdl:part name="parameters" element="tns:searchVoters" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_searchVoters_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchVotersResponse" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_searchAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:searchAddresses" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_searchAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getVoter_InputMessage">
    <wsdl:part name="parameters" element="tns:getVoter" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getVoter_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVoterResponse" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:getAddresses" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getPollDistrict_InputMessage">
    <wsdl:part name="parameters" element="tns:getPollDistrict" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getPollDistrict_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPollDistrictResponse" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getVotingDistricts_InputMessage">
    <wsdl:part name="parameters" element="tns:getVotingDistricts" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getVotingDistricts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVotingDistrictsResponse" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getAddressVoters_InputMessage">
    <wsdl:part name="parameters" element="tns:getAddressVoters" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getAddressVoters_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAddressVotersResponse" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getDistrictVoters_InputMessage">
    <wsdl:part name="parameters" element="tns:getDistrictVoters" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getDistrictVoters_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDistrictVotersResponse" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getParties_InputMessage">
    <wsdl:part name="parameters" element="tns:getParties" />
  </wsdl:message>
  <wsdl:message name="IVoterInfo_getParties_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPartiesResponse" />
  </wsdl:message>
  <wsdl:portType name="IVoterInfo">
    <wsdl:operation name="searchVoters">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/searchVoters" message="tns:IVoterInfo_searchVoters_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/searchVotersResponse" message="tns:IVoterInfo_searchVoters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchAddresses">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/searchAddresses" message="tns:IVoterInfo_searchAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/searchAddressesResponse" message="tns:IVoterInfo_searchAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVoter">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getVoter" message="tns:IVoterInfo_getVoter_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getVoterResponse" message="tns:IVoterInfo_getVoter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAddresses">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getAddresses" message="tns:IVoterInfo_getAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getAddressesResponse" message="tns:IVoterInfo_getAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPollDistrict">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getPollDistrict" message="tns:IVoterInfo_getPollDistrict_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getPollDistrictResponse" message="tns:IVoterInfo_getPollDistrict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVotingDistricts">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getVotingDistricts" message="tns:IVoterInfo_getVotingDistricts_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getVotingDistrictsResponse" message="tns:IVoterInfo_getVotingDistricts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAddressVoters">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getAddressVoters" message="tns:IVoterInfo_getAddressVoters_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getAddressVotersResponse" message="tns:IVoterInfo_getAddressVoters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDistrictVoters">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getDistrictVoters" message="tns:IVoterInfo_getDistrictVoters_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getDistrictVotersResponse" message="tns:IVoterInfo_getDistrictVoters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParties">
      <wsdl:input wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getParties" message="tns:IVoterInfo_getParties_InputMessage" />
      <wsdl:output wsaw:Action="http://siliconholler.net/geopolitical/IVoterInfo/getPartiesResponse" message="tns:IVoterInfo_getParties_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>